@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --color-bg: #ffffff;
    --color-text: #323133;
    --color-primary: #9c3127;
    --color-secondary: #2d4473;
    --color-third: #f37575;
    --color-fourth: #a69580;
}

.image__content{
    width: 80%;
    margin-top: 10%;
}

.image__content1{
    width: 50%;
    height: 50%;
}
.image-container {
    position: relative;
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

