@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --color-bg: #ffffff;
    --color-text: #323133;
    --color-primary: #9c3127;
    --color-secondary: #2d4473;
    --color-third: #f37575;
    --color-fourth: #F2D6B3;
}

.main{
    margin-top: 70px;
}

.sectionpadding{
    padding: 18px;
}

.custom-cursor{
    cursor: url(../images/curseur-patte.png), auto;
}

.introduction{
    min-height: 90vh;
    align-items: center;
    margin-bottom: 25px;
}

.image__intro{
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    transition: left 0.3s ease-out;
}



.image__content{
    margin: 20px 0;
    width: 100%;
    height: auto;
}



  .btn-experience {
    font-family:'Cabin', sans-serif ;
    text-align: center;
    background-color: var(--color-primary);
    margin: 40px 0;
    padding: 8px 12px; 
    border-radius: 20px;
    color: var(--color-bg);
    text-decoration: none;
}

.bouton--style :hover{
    background-color: var(--color-bg);
    color: var(--color-primary);
}

.motivation{
    background-color: var(--color-secondary);
}

.rencontres{
    display: flex;
    align-content: center;
}

.more{
    background-color: #2d4473;
    color: var(--color-bg);
    margin: 10px 0;
    border-radius: 20px;
    padding: 18px;
    cursor: pointer;
}

.solutions{
    background-color: var(--color-fourth);
}


.icone{
    width: 130%;
    height: auto;
}

.img__slide{
    width: 80%;
    height: auto;
    margin: 30px 0;
}

.motivation{
    padding: 0;
}


/* scroll up bouton */

.scroll-up-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #CECCCC;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 9999;
    opacity: 70%;
  }
  
  .scroll-up-button img {
    width: 100%;
    height: auto;
  }
  

/* footer */

.footer{
    background-color: var(--color-primary);
    color: var(--color-bg);
    margin-top: 108px;
    text-align: center;
}

.footer__link{
    color: var(--color-bg);
    text-decoration: none;
}

.footer__link:hover{
    color: var(--color-bg);
    border-bottom: 2px solid var(--color-bg);
}

.footer__link--active{
    border-bottom: 3px solid var(--color-bg);
    color: var(--color-bg);
    font-weight: 600;
    text-decoration: none;
}

.footer__el{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 18px;
}

.nav__footer--el{
    margin-top: 18px;
    list-style-type: none;
}

.footer__el--img{
    width: 100px;
    margin: auto;
}

.reseaux__list{
    display: flex;
    justify-content: space-evenly;

}

.reseaux__el{
    list-style: none;
}

.reseaux__icon {
    width: 100%;
    height: 100%;
    fill: var(--color-bg);
}

.reseaux__el a:hover+.reseaux__icon--facebook {
    fill: var(--color-primary);
    stroke: var(--color-bg);
}

.reseaux__el {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 50px;
}
  
.reseaux__el a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-indent: 200%;
    white-space: nowrap;
}

.reseaux {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 20px;
}

.nav__ui-kit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1025px) {

    .image__content{
        width: 60%;
        height: auto;
        margin: 0;
    }

    .image__content--logo{
        width: 30%;
        height: auto;
    }


    a {
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: #2d4473;
        margin: 10px 0;
        cursor: url(../images/curseur-patte.png), auto;
    }

}