/* css grid*/

.content{
    padding: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 18px;
    max-width: 100ch;
    margin: auto;
}

.souscontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 18px;
    max-width: 100ch;
    margin: auto;
}

.mgrid-start01{
    grid-column-start: 1;
}
.mgrid-start02{
    grid-column-start: 2;
}
.mgrid-start03{
    grid-column-start: 3;
}
.mgrid-start04{
    grid-column-start: 4;
}
.mgrid-start05{
    grid-column-start: 5;
}

.mgrid-end02{
    grid-column-end: 2;
}
.mgrid-end03{
    grid-column-end: 3;
}
.mgrid-end04{
    grid-column-end: 4;
}
.mgrid-end05{
    grid-column-end: 5;
}
.mgrid-end{
    grid-column-end: -1;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    

  }

  @media screen and (min-width: 1025px) {
    /* Styles spécifiques aux écrans de bureau */
  } 