/* Burger menu*/

.header{
    max-width: 980px;
    margin: auto;
}


.header__menu{
    display: flex;
    justify-content: space-between;
    padding: 18px;
    align-items: center;
}

.header__menu--logo{
    position:absolute;
    left: 50%;
  transform: translateX(-50%);
    width: 50px;
    cursor: pointer;
}

.header__menu--burger{
    width: 45px;
    height: 45px;
    border: none;
    position: relative;
	overflow: hidden;
    background-image: url(../images/menu-burger.svg);
    background-size: cover;
    background-color: transparent;
    z-index: 1;
    fill: var(--color-primary);
    cursor: pointer;
	overflow: hidden;
    position: relative;
}

.header__link{
    color: var(--color-bg);
    text-decoration: none;
    position: relative;
    padding-right: 20px;
}

.header__link:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 16px; /* Largeur de l'image */
    height: 16px; /* Hauteur de l'image */
    background-image: url('../images/Animergency-picto-copie-blanc.svg');
    background-size: cover;
    margin-left: 5px; /* Espacement entre l'image et le texte du lien */
  }


.nav__header{
    padding-bottom: 36px;
    transform: translateX(0%);
    transition: transform 0.2s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    left: 0px;
    height: 92vh;
    top: 10vh;
    background-color: var(--color-primary);
    width: 70%;
}

.header__el{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 18px;
}

.nav__el--active{
    border-bottom: 3px var(--color-bg) solid;
}

.nav__el--inactive{
    border-bottom: 3px var(--color-primary) solid;
}

.header__link:hover{
    color: var(--color-bg);
    transition: .3s ease;
    text-decoration: none;
}

.header__button--txt{
	position: absolute;
	white-space: nowrap;
	text-indent: 100%;
}

.header--display{
    transform: translateX(-100%);
    transition: transform 0.2s ease-in;
    margin-bottom: -200px;
}

.header--no-display{
    display: none;
}

.header--cross{
    background-image: url(../images/icon-croix.svg);
}