/* Burger menu*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
.header {
  max-width: 100vw;
  margin: auto; }

.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: var(--color-bg);
  display: flex;
  justify-content: space-between;
  padding: 18px;
  align-items: center; }

.header__menu--logo {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  cursor: pointer; }

.header__menu--burger {
  width: 45px;
  height: 45px;
  border: none;
  position: relative;
  overflow: hidden;
  background-image: url(../images/menu-burger.svg);
  background-size: cover;
  background-color: transparent;
  z-index: 9999;
  fill: var(--color-primary);
  cursor: pointer;
  overflow: hidden;
  position: relative; }

.header__link {
  color: var(--color-bg);
  text-decoration: none;
  position: relative;
  padding-right: 20px;
  font-family: 'Cabin', sans-serif; }

.header__link:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../images/Animergency-picto-copie-blanc.svg");
  background-size: cover;
  margin-left: 5px; }

.nav__header {
  padding-bottom: 36px;
  transform: translateX(0%);
  transition: transform 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
  position: fixed;
  left: 0;
  height: 92vh;
  top: 14vh;
  background-color: var(--color-primary);
  width: 50vw; }

.header__el {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 18px; }

.active {
  font-weight: 600;
  border-bottom: 2px solid #ffffff; }

.active::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../images/Animergency-picto-copie-blanc.svg");
  background-size: cover;
  margin-left: 5px; }

.header__link:hover {
  color: var(--color-bg);
  transition: .3s ease;
  text-decoration: none; }

.header__button--txt {
  position: absolute;
  white-space: nowrap;
  text-indent: 100%; }

.header--display {
  transform: translateX(-100%);
  transition: transform 0.2s ease-in;
  margin-bottom: -200px; }

.header--no-display {
  display: none; }

.header--cross {
  background-image: url(../images/icon-croix.svg); }

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    width: 100%; } }

@media screen and (min-width: 1024px) {
  .nav__header {
    width: 25vw; } }

* {
  margin: 0;
  padding: 0; }

:root {
  --color-bg: #ffffff;
  --color-text: #323133;
  --color-primary: #9c3127;
  --color-secondary: #2d4473;
  --color-third: #f37575;
  --color-fourth: #F2D6B3; }

.main {
  margin-top: 70px; }

.sectionpadding {
  padding: 18px; }

.introduction {
  min-height: 90vh;
  align-items: center;
  margin-bottom: 25px; }

.image__intro {
  width: 100%;
  height: auto;
  position: relative; }

.image__content {
  width: 100%;
  height: auto;
  position: relative; }

.image__rencontres {
  width: 25%;
  height: auto; }

.bouton {
  margin: 0% 20%; }

.btn-experience {
  display: flex;
  justify-content: center;
  font-family: 'Cabin', sans-serif;
  text-align: center;
  background-color: var(--color-primary);
  margin: 40px 0;
  padding: 10px 25px;
  border-radius: 20px;
  color: var(--color-bg);
  text-decoration: none; }

.btn-experience:hover {
  background-color: var(--color-bg);
  color: var(--color-primary);
  border: solid var(--color-primary) 2px; }

.motivation {
  background-color: var(--color-secondary); }

.more {
  background-color: #2d4473;
  color: var(--color-bg);
  margin: 10px 0;
  border-radius: 20px;
  padding: 18px;
  cursor: pointer; }

.solutions {
  background-color: var(--color-fourth); }

section figure {
  display: flex;
  justify-content: center; }

.slider {
  margin: 20px; }

.slider .souscontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.slider__container {
  margin: auto; }

.slider .more {
  width: 90%; }

.modules {
  align-items: center; }

.slides-image {
  display: flex;
  justify-content: center;
  align-items: center; }

.icone {
  width: 15%;
  height: auto;
  margin-top: 10px; }

.img__slide {
  width: 30%;
  height: 30%; }

/* scroll up bouton */
.scroll-up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: #CECCCC;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 9999;
  opacity: 60%; }

.scroll-up-button img {
  width: 100%;
  height: auto; }

/* footer */
.footer {
  background-color: var(--color-primary);
  color: var(--color-bg);
  margin-top: 20%;
  text-align: center; }

.footer__link {
  color: var(--color-bg);
  text-decoration: none; }

.footer__link:hover {
  color: var(--color-bg);
  border-bottom: 2px solid var(--color-bg); }

.footer__link--active {
  border-bottom: 3px solid var(--color-bg);
  color: var(--color-bg);
  font-weight: 600;
  text-decoration: none; }

.footer__el {
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 18px; }

.nav__footer {
  display: flex;
  flex-direction: row; }

.nav__footer--el {
  margin-top: 18px;
  list-style-type: none; }

.footer__el--img {
  width: 100px;
  margin: auto; }

.reseaux__list {
  display: flex;
  justify-content: space-evenly; }

.reseaux__el {
  list-style: none; }

.reseaux__icon {
  width: 100%;
  height: 100%;
  fill: var(--color-bg); }

.reseaux__el a:hover + .reseaux__icon--facebook {
  fill: var(--color-primary);
  stroke: var(--color-bg); }

.reseaux__el {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 50px; }

.reseaux__el a {
  position: absolute;
  width: 100%;
  height: 100%;
  text-indent: 200%;
  white-space: nowrap; }

.reseaux {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 20px; }

.nav__ui-kit {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo__intro {
    width: 60vw;
    margin: 0 auto; }
  .image__intro {
    width: 50vw; }
  .image__content {
    width: 100%;
    height: auto;
    position: relative; }
  .img__tab {
    margin-top: 30%; }
  .image__rencontres {
    width: 50%;
    height: auto;
    margin-top: 40%; }
  .icone {
    width: 10%; }
  .footer {
    margin-top: 10%; } }

@media screen and (min-width: 1025px) {
  .logo__intro {
    width: 70%; }
  .content .introduction {
    width: 90vw; }
  .bouton {
    margin-top: 70%; }
  .image__content {
    width: 100%;
    height: auto;
    margin: 0; }
  .image__content--logo {
    width: 30%;
    height: auto; }
  a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #2d4473;
    margin: 10px 0; }
  .image__rencontres {
    padding-top: 17%;
    width: 40%;
    height: auto; }
  .rencontres {
    padding: 0;
    background-image: url(../images/fond-pattes.svg); }
  .solutions {
    padding: 0;
    background-image: url(../images/fond-pattes-blanc.svg); }
  .icone {
    width: 5%; }
  .img__slide {
    width: 15%; }
  .slider__container {
    max-width: 85vw; }
  .slider {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 3vh;
    height: fit-content;
    margin: 20px;
    place-items: center; }
  .slider .slides-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 80%; }
  .slider .slides-image img {
    height: 100%;
    width: 60%;
    object-fit: contain; }
  .slider .slides-content img {
    width: 15%; }
  .slick-arrow::before {
    font-size: 40px !important;
    height: 10vh !important;
    width: 10vh !important;
    color: #2d4473 !important; }
  .footer {
    margin-top: 7%; } }

/* css grid*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 5px;
    max-width: 100%; }
  .tgrid-start01 {
    grid-column-start: 1; }
  .tgrid-start02 {
    grid-column-start: 2; }
  .tgrid-start03 {
    grid-column-start: 3; }
  .tgrid-start04 {
    grid-column-start: 4; }
  .tgrid-start05 {
    grid-column-start: 5; }
  .tgrid-start06 {
    grid-column-start: 6; }
  .tgrid-end02 {
    grid-column-end: 2; }
  .tgrid-end03 {
    grid-column-end: 3; }
  .tgrid-end04 {
    grid-column-end: 4; }
  .tgrid-end05 {
    grid-column-end: 5; }
  .tgrid-end06 {
    grid-column-end: 6; }
  .tgrid-end {
    grid-column-end: -1; }
  .trow-start01 {
    grid-row-start: 1; }
  .trow-start02 {
    grid-row-start: 2; }
  .trow-start03 {
    grid-row-start: 3; }
  .trow-start04 {
    grid-row-start: 4; }
  .trow-start05 {
    grid-row-start: 5; }
  .trow-start06 {
    grid-row-start: 6; }
  .trow-end02 {
    grid-row-end: 2; }
  .trow-end03 {
    grid-row-end: 3; }
  .trow-end04 {
    grid-row-end: 4; }
  .trow-end05 {
    grid-row-end: 5; }
  .trow-end {
    grid-row-end: -1; } }

@media screen and (min-width: 1025px) {
  .nav__header {
    width: 25vw; }
  .content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 15px;
    max-width: 100%; }
  .grid-start01 {
    grid-column-start: 1; }
  .grid-start02 {
    grid-column-start: 2; }
  .grid-start03 {
    grid-column-start: 3; }
  .grid-start04 {
    grid-column-start: 4; }
  .grid-start05 {
    grid-column-start: 5; }
  .grid-start06 {
    grid-column-start: 6; }
  .grid-start07 {
    grid-column-start: 7; }
  .grid-end02 {
    grid-column-end: 2; }
  .grid-end03 {
    grid-column-end: 3; }
  .grid-end04 {
    grid-column-end: 4; }
  .grid-end05 {
    grid-column-end: 5; }
  .grid-end06 {
    grid-column-end: 6; }
  .grid-end07 {
    grid-column-end: 7; }
  .grid-end {
    grid-column-end: -1; }
  .row-start01 {
    grid-row-start: 1; }
  .row-start02 {
    grid-row-start: 2; }
  .row-start03 {
    grid-row-start: 3; }
  .row-start04 {
    grid-row-start: 4; }
  .row-start05 {
    grid-row-start: 5; }
  .row-start06 {
    grid-row-start: 6; }
  .row-end02 {
    grid-row-end: 2; }
  .row-end03 {
    grid-row-end: 3; }
  .row-end04 {
    grid-row-end: 4; }
  .row-end05 {
    grid-row-end: 5; }
  .row-end {
    grid-row-end: -1; } }

.title {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-primary); }

.title--big {
  color: var(--color-primary);
  font-size: 44px;
  font-weight: 700;
  margin: 40px 0; }

.title--medium {
  color: var(--color-secondary);
  font-size: 36px;
  margin-top: 40px; }

.title--small {
  color: var(--color-text);
  font-size: 26px;
  padding-top: 30px; }

.mini--title {
  color: var(--color-text);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin: 10px 0;
  text-align: center; }

.txt__content {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-text);
  margin: 30px 0; }

.txt__details {
  font-family: 'Quicksans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-bg);
  margin: 30px 0; }

.txt__details--color {
  font-family: 'Quicksand', sans-serif;
  font-size: 11px;
  font-weight: 600;
  color: var(--color-text); }

.sum__title {
  font-family: 'Cabin', sans-serif; }

.list__details--el {
  margin: 30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 500; }

.title--color {
  color: var(--color-bg); }

.txt__content--color {
  color: var(--color-bg); }

.footer {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .title--big {
    color: var(--color-primary);
    font-size: 38px;
    font-weight: 600;
    margin: 0; }
  .title--medium {
    color: var(--color-secondary);
    font-size: 28px;
    margin-top: 40px; }
  .title--small {
    color: var(--color-text);
    font-size: 22px;
    padding-top: 30px; }
  .mini--title {
    color: var(--color-text);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin: 10px 0;
    text-align: center; }
  .txt__content {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-text);
    margin: 30px 0; }
  .txt__details {
    font-family: 'Quicksans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-bg);
    margin: 30px 0; }
  .sum__title {
    font-family: 'Cabin', sans-serif; }
  .list__details--el {
    margin: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px; }
  .title--color {
    color: var(--color-bg); }
  .txt__content--color {
    color: var(--color-bg); } }

@media screen and (min-width: 1025px) {
  .title--big {
    color: var(--color-primary);
    font-size: 44px;
    font-weight: 700;
    margin: 0; }
  .title--medium {
    color: var(--color-secondary);
    font-size: 36px;
    margin-top: 40px; }
  .title--small {
    color: var(--color-text);
    font-size: 26px;
    padding-top: 30px; }
  .mini--title {
    color: var(--color-text);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin: 10px 0;
    text-align: center; }
  .txt__content {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-text);
    margin: 30px 0; }
  .txt__details {
    font-family: 'Quicksans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-bg);
    margin: 30px 0; }
  .txt__details--color {
    font-family: 'Quicksand', sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: var(--color-text); }
  .sum__title {
    font-family: 'Cabin', sans-serif; }
  .list__details--el {
    margin: 30px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500; }
  .title--color {
    color: var(--color-bg); }
  .txt__content--color {
    color: var(--color-bg); } }
