/* Burger menu*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
.header {
  max-width: 980px;
  margin: auto; }

.header__menu {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  align-items: center; }

.header__menu--logo {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  cursor: pointer; }

.header__menu--burger {
  width: 45px;
  height: 45px;
  border: none;
  position: relative;
  overflow: hidden;
  background-image: url(../images/menu-burger.svg);
  background-size: cover;
  background-color: transparent;
  z-index: 1;
  fill: var(--color-primary);
  cursor: pointer;
  overflow: hidden;
  position: relative; }

.header__link {
  color: var(--color-bg);
  text-decoration: none;
  position: relative;
  padding-right: 20px; }

.header__link:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 16px;
  /* Largeur de l'image */
  height: 16px;
  /* Hauteur de l'image */
  background-image: url("../images/Animergency-picto-copie-blanc.svg");
  background-size: cover;
  margin-left: 5px;
  /* Espacement entre l'image et le texte du lien */ }

.nav__header {
  padding-bottom: 36px;
  transform: translateX(0%);
  transition: transform 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0px;
  height: 92vh;
  top: 10vh;
  background-color: var(--color-primary);
  width: 70%; }

.header__el {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 18px; }

.nav__el--active {
  border-bottom: 3px var(--color-bg) solid; }

.nav__el--inactive {
  border-bottom: 3px var(--color-primary) solid; }

.header__link:hover {
  color: var(--color-bg);
  transition: .3s ease;
  text-decoration: none; }

.header__button--txt {
  position: absolute;
  white-space: nowrap;
  text-indent: 100%; }

.header--display {
  transform: translateX(-100%);
  transition: transform 0.2s ease-in;
  margin-bottom: -200px; }

.header--no-display {
  display: none; }

.header--cross {
  background-image: url(../images/icon-croix.svg); }

* {
  margin: 0;
  padding: 0; }

:root {
  --color-bg: #ffffff;
  --color-text: #323133;
  --color-primary: #9c3127;
  --color-secondary: #2d4473;
  --color-third: #f37575;
  --color-fourth: #F2D6B3; }

.image__content {
  padding-left: 0;
  width: 80%;
  height: auto; }

.btn-experience {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  background-color: var(--color-primary);
  margin-top: 40px;
  padding: 8px 12px;
  border-radius: 20px;
  color: var(--color-bg);
  text-decoration: none; }

.bouton--style :hover {
  background-color: var(--color-bg);
  color: var(--color-primary); }

.motivation {
  background-color: var(--color-secondary); }

.solutions {
  background-color: var(--color-fourth); }

.presentation {
  background-color: var(--color-third); }

.section-link {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: var(--color-text); }

/* scroll up bouton */
#scrollUpButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer; }

/* footer */
.footer {
  background-color: var(--color-primary);
  color: var(--color-bg);
  margin-top: 108px;
  text-align: center; }

.footer__el--img {
  width: 100px;
  margin: auto; }

.footer__link {
  color: var(--color-bg);
  text-decoration: none; }

.footer__link:hover {
  color: var(--color-bg);
  border-bottom: 2px solid var(--color-bg); }

.footer__link--active {
  border-bottom: 3px solid var(--color-bg);
  color: var(--color-bg);
  font-weight: 600;
  text-decoration: none; }

.footer__el {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 18px; }

.nav__footer--el {
  margin-top: 18px;
  list-style-type: none; }

.footer__el--img {
  width: 100px;
  margin: auto; }

.reseaux__list {
  display: flex;
  justify-content: space-evenly; }

.reseaux__el {
  list-style: none; }

.reseaux__icon {
  width: 100%;
  height: 100%;
  fill: var(--color-bg); }

.reseaux__el a:hover + .reseaux__icon--facebook {
  fill: var(--color-primary);
  stroke: var(--color-bg); }

.reseaux__el {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 50px; }

.reseaux__el a {
  position: absolute;
  width: 100%;
  height: 100%;
  text-indent: 200%;
  white-space: nowrap; }

.reseaux {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 20px; }

.nav__ui-kit {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* css grid*/
.content {
  padding: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 18px;
  max-width: 100ch;
  margin: auto; }

.mgrid-start01 {
  grid-column-start: 1; }

.mgrid-start02 {
  grid-column-start: 2; }

.mgrid-start03 {
  grid-column-start: 3; }

.mgrid-start04 {
  grid-column-start: 4; }

.mgrid-start05 {
  grid-column-start: 5; }

.mgrid-end02 {
  grid-column-end: 2; }

.mgrid-end03 {
  grid-column-end: 3; }

.mgrid-end04 {
  grid-column-end: 4; }

.mgrid-end05 {
  grid-column-end: 5; }

.mgrid-end {
  grid-column-end: -1; }

.title {
  font-family: 'Cabin', sans-serif;
  font-size: 84px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-primary); }

.title--big {
  color: var(--color-primary);
  font-size: 44px;
  font-weight: 700;
  margin: 50px 0; }

.title--medium {
  color: var(--color-text);
  font-size: 36px;
  padding-top: 30px;
  margin-top: 40px; }

.title--small {
  color: var(--color-text);
  font-size: 26px;
  padding-top: 30px; }

.txt__content {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-text);
  margin: 30px 0; }
